html {
}

body {
    font-family: Impact, Charcoal, sans-serif;
    font-weight: 400;
    color: #eeeeee;
    overflow: hidden;
    background: url(../img/bg-sigla.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.giuria {
    margin: 0;
    text-align: center;
}

.giuria .logo {
    position: relative;
    margin: 20px auto 0;
    height: 180px;
}

.giuria .title {
    display: inline-block;
    color: #981c1f;
    font-size: 72px;
    margin-bottom: 48px;
    text-shadow: 1px 1px 0 rgba(255,255,255,1),-1px 1px 0 rgba(255,255,255,1),1px -1px 0 rgba(255,255,255,1),-1px -1px 0 rgba(255,255,255,1), 1px 1px 3px rgba(0,0,0,0.75);
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.giuria .subtitle {
    display: inline-block;
    margin: 10px;
    font-size: 72px;
    color: #eeeeee;
    margin-bottom: 0;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.75);
    letter-spacing: 2px;
}

.giuria .subtitle span {
    font-style: italic;
}

.giuria .card {
    background-color: rgba(255,255,255,0.75);
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid #981c1f;
    width: 806px;
    height: 306px;
}

.giuria .card .left {
    width: 256px;
    display: inline-block;
}

.giuria .card .right {
    width: 480px;
    margin-left: 20px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.giuria .card h2 {
    font-size: 40px;
    margin-top: 0;
    color: #981c1f;
}

.giuria .card p {
    font-size: 24px;
    color: #333333;
}

.giuria .card p:first-child {
    text-align: left;
}
.giuria .card p:last-child {
    text-align: right;
}

@-webkit-keyframes dissolve {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes dissolve {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.dissolve {
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: -50%;
    background-color: #000000;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: dissolve;
    animation-name: dissolve;
}


