html {
}

body {
    font-family: Impact, Charcoal, sans-serif;
    font-weight: 400;
    color: #eeeeee;
    background: url(../img/bg-sigla.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.interventi {
    margin: 0;
    text-align: center;
}

.interventi .logo {
    display: inline-block;
    margin: 20px auto 0;
    height: 180px;
}

.interventi .title {
    display: inline-block;
    color: #fafafa;
    text-shadow: 2px 2px 0 #981c1f,-2px 2px 0 #981c1f,2px -2px 0 #981c1f,-2px -2px 0 #981c1f;
    font-size: 72px;
    margin-bottom: 48px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
    vertical-align: middle;
}

.interventi input {
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #000000;
    color: #ffffff;
    font-size: 32px;
    padding: 5px 10px;
    letter-spacing: 2px;
    font-weight: normal;
    width: 630px;
    -webkit-box-shadow: 0 0 3px 2px rgba(255,255,255,0.5);
    box-shadow: 0 0 3px 2px rgba(255,255,255,0.5);
}

.ordine-interventi {
}

.ordine-interventi p {
    margin: 10px 0;
    background-color: rgba(255,255,255,0.75);
    color: #333333;
    font-size: 28px;
    text-align: left;
    padding: 5px 10px;
}

#insert {
    margin-left: 10px;
    padding: 10px 20px;
    vertical-align: top;
}

.counter {
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 20px;
}

.counter {
    padding: 50px;
    font-size: 120px;
    color: #eeeeee;
}

.clearfix {
    margin-bottom: 50px;
}